/* div {
  background: linear-gradient(270deg, #cedb56, #008ace);
} 

div {
  background: radial-gradient(circle, #008ace, #cedb56);
}

*/

/* Vertical menu with a smooth appearance of an element on hover  */
/*  */
/* .menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  transform: skew (-15deg);
}

.menu {
  flex-direction: row;
}
.menu li {
  transform: skew(-15deg);
}

a {
  background-color: #76cdd8;
  border: 2px solid white;
  color: #fff;
  display: block;
  font-size: x-large;
  padding: 15px;
  text-decoration: none;
  width: 200px;
  transition-property: width, background-color;
  transition-duration: 1s, 500ms;
}

a:hover {
  background-color: #cedb56;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 300px;
} */

/*  */
/* Use rotate() function to effect different arrangement of gallery images. */

/* .gallery {
  padding: 20px;
}
.gallery img {
  margin-right: 40px;
}
.rotate-odd {
  transform: rotate(25deg);
}
.rotate-even {
  transform: rotate(-25deg);
} */

/* 3 */
/* Animation Cards */
/* The 3D transformation */

/*
.card-flipper {
  display: inline-block;
  height: 300px;
  width: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  color: white;
  background-color: #008ace;
  font-size: xx-large;
}

.card-back {
  color: #222222;
  background-color: #cedb56;
  transform: rotateY(180deg);
}

.card-flipper:hover {
  transform: rotateY(180deg);
}
*/

/* #region Сітка  метод Flex*/

/* 
* {
  margin: 0;
  padding: 0;
  background: white;
}

ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

li:nth-child(4n) {
  margin: 10px 10px 0 10px;
}

li {
  height: calc(25vw - 13px);
  width: calc(25vw - 13px);
  background: green;
  list-style: none;
  margin: 10px 0 0 10px;
} 
*/

/* #endregion */

/* #region Сітка  метод Grid*/

* {
  margin: 0;
  padding: 0;
  background: white;
}

ul {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
  grid-template: "a a a a";
  width: calc(100vw - 20px);
  height: calc((100vw * 3) / 4 - 20px);
  gap: 10px;
  margin: 10px;
}

li {
  background: green;
  list-style: none;
}

li:nth-child(1n + 17) {
  display: none;
}

/* у випадку якщо використовуємо структуру 3 до 4   
height: calc((100vw * 3) / 4 - 20px);
Якщо б  елементів було б трохи більше то висота повиина бути пропорційна нашій ширині: 
height: calc((100vw - 20px);
Сітка на обмежену к-сть елементів. Для того щоб забарти всі зайві елементи (li в нас > 16) в сітці:

li:nth-child(1n + 17) {
  display: none;
}
*/

/* #endregion */

/* ul {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
  grid-template: "a a a a";
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
  margin: 10px;
  gap: 10px;
} */
